body{
    background-color: black;
    color: aqua;
}

/* For Question 1 */
#divId{
    position: relative;
    top: 30px;
    left: 30px;
    border: 2px solid red;
    width: 25%;
    text-align: center;
}

/* For Question 2 */
.inputData{
    position: absolute;
    top: 50px;
    left: 50px;
}

button{
    color: white;
    background-color: rgba(0, 0, 255, 0.805);
    padding: 5px;
    width: 80px;
    border: none;
    border-radius: 5px;
    margin-top : 10px;
    margin-left : 20px
}

span2{
    margin-left: 20px;
}

/* For Question 3 */
#h1tag{
    width: 35%;
}

/* For Question 4 */
#span4{
    margin-left: 20px;
}